{% if post.id %}
  {% assign title = post.title | markdownify | strip_html %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="entry">
  <header class="entry-header">
    <h3 class="entry-title">
      <a href="{{ post.url | relative_url }}" rel="bookmark">{{ title }}</a>
    </h3>
    {% if post.image.thumbnail %}
      {% assign entry_image = post.image.thumbnail %}
      {% unless entry_image contains '://' %}
        {% assign entry_image = entry_image | relative_url %}
      {% endunless %}
      {% assign entry_image = entry_image | escape %}
      <img class="entry-image u-photo" src="{{ entry_image }}" alt="">
    {% endif %}
  </header>
  <footer class="entry-meta">
    <ul>
    {% if post.date %}
      <li><span class="icon">{% include icon-calendar.svg %}</span><time class="entry-time" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></li>
    {% endif %}
    {% if post.read_time %}
      <li><span class="icon">{% include icon-stopwatch.svg %}</span>{% capture read_time %}{% include read-time.html %}{% endcapture %}{{ read_time | strip }}</li>
    {% endif %}
    </ul>
  </footer>
  <div class="entry-excerpt">
    {% if post.excerpt %}
      {% comment %}First try to use the excerpt{% endcomment %}
      {% assign excerpt_html = post.excerpt | markdownify | strip_html %}
      {% assign excerpt_words = excerpt_html | number_of_words %}

      {% if excerpt_words > 50 %}
        {% comment %}Excerpt too long, truncate it{% endcomment %}
        <p>{{ excerpt_html | truncatewords: 50 }}</p>
      {% else %}
        {% comment %}Excerpt is good length, keep markdown{% endcomment %}
        {{ post.excerpt | markdownify }}
      {% endif %}
    {% else %}
      {% comment %}No excerpt at all, use content{% endcomment %}
      {% assign content_preview = post.content | strip_html | truncatewords: 50 %}
      <p>{{ content_preview }}</p>
    {% endif %}
    <p><a href="{{ post.url | relative_url }}" class="more-link">{{ site.data.theme.t.read_more | default: 'Read More' }} <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span></a></p>
  </div>
</article>
